<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- App name property -->
    <property name="APP_NAME" value="Restaurant"/>
    <property name="LOG_PATH" value="observability/logs"/>

    <!-- Console Appender with Colored Logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- Include app name as a label for Promtail -->
            <pattern>{"timestamp":"%d{yyyy-MM-dd HH:mm:ss}", "level":"%level", "app":"${APP_NAME}", "logger":"%logger", "thread":"%thread", "message":"%msg"}%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>